.tetris {
	position: absolute;
	left: 500px;
}

.tetris > .board {
	border: solid 10px #600000;
	position: absolute;
}

.tetris > .buttonsPanel {
	position: absolute;
	right: 0px;
}

.tetris > .buttonsPanel > .btnPause,
.tetris > .buttonsPanel > .btnRestart {
	display: none;
}

.tetris > .scorePanel {
	position: absolute;
	right: 0px;
	margin-top: 40px;
}

.tetris > .scorePanel > .score-title {
	font-weight: bold;
	font-size: 24px;
	color: #600000;
}

.tetris > .scorePanel > .score {
	color: #600000;
	font-weight: bold;
	font-size: 24px;
}

.tetris .unoccupied_cell {
	border: solid 1px white;
	background-color: white;
}

.tetris .red_piece {
	background-color: #b00000;
	border: solid 1px #555555;
}

.tetris .green_piece {
	background-color: #336633;
	border: solid 1px #555555;
}

.tetris .blue_piece {
	background-color: #3399ff;
	border: solid 1px #555555;
}

.tetris .yellow_piece {
	background-color: #ffcc00;
	border: solid 1px #555555;
}

.tetris .grey_piece {
	background-color: #909090;
	border: solid 1px #555555;
}

.tetris .purple_piece {
	background-color: #993399;
	border: solid 1px #555555;
}

.tetris .dark_green_piece {
	background-color: #333333;
	border: solid 1px #555555;
}
